@import "../../../../../styles/colors";

.main-container {
    .toolbar {
        margin: 0px;

        >.mat-toolbar {
            background: map-get($map: $white-color-variants, $key: 300) !important;
            height: 75px;
        }

        .title-text {
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 1.2px;
            color: map-get($map: $black-color-variants, $key: 100);
            padding-left: 42px;
        }

        .grey {
            color: map-get($map: $black-color-variants, $key: 500);
        }
    }

    .mat-mdc-nav-list {
        padding: 32px 0;

        >.mat-mdc-list-item {
            margin: 10px 0;
        }
    }

    .active-link {
        background-color: rgb(255, 248, 242) !important;
    }

    .logout-nav-item {
        position: absolute;
        bottom: 10px;
    }

    .example-sidenav-content {
        padding: 24px !important;
        height: 100%;
    }

    .nav-item-title {
        color: map-get($map: $black-color-variants, $key: 200);
        font-size: 14px;
        font-weight: 500;
    }

    .active-nav-item-title {
        color: map-get($map: $black-color-variants, $key: 300);
    }

    .full-width-sidenav {
        min-width: 210px;
    }
}

.sidenav-container {
    height: calc(100vh - 75px);
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    background: map-get($map: $white-color-variants, $key: 100);

    >.mat-sidenav {
        // margin: 1rem;
        border-radius: 0.625rem;
        min-width: 14.5rem;
        background-color: map-get($map: $white-color-variants, $key: 300);

        .title-section {
            min-height: 12%;
            border-bottom: 1px solid #eee;

            .bold-text {
                font-weight: 800;
                letter-spacing: 1.8px;
                color: map-get($map: $black-color-variants, $key: 200);
                // margin-right: 0.5rem;
            }

            .light-text {
                font-weight: 400;
                color: map-get($map: $black-color-variants, $key: 200);
            }
        }

        .mat-mdc-nav-list {

            .is-active {
                font-weight: 800;
            }

            .mat-mdc-list-item {
                font-size: 14px;
                margin: 10px 0;
            }

            .align-bottom {
                position: absolute;
                bottom: 16px;
                left: 10px;
                right: 10px;
                border-radius: 8px;
                background: linear-gradient(364deg, rgb(234, 234, 234) 20%, rgb(100, 149, 237) 75%);
                color: map-get($map: $black-color-variants, $key: 200);

                >.mat-mdc-card-content {
                    text-align: center;

                    >.mtb-10 {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .toolbar-card {
        // width: 20%;
        min-height: 3.125rem;
        border-radius: 3.75rem;
        margin: 1.5rem;

        .icons-list {
            display: flex;
            gap: 24px;

            mat-icon {
                color: #808080;
            }
        }
    }

}

.user-menu {
    // min-width: 380px !important;
    padding: 16px;

    .label-text {
        min-width: 80px;
        color: map-get($map: $black-color-variants, $key: 500);
        font-size: 14px;
        font-weight: 500;

        >span {
            margin-left: 8px;
        }
    }

    .value-text {
        min-width: 110px;
        color: map-get($map: $black-color-variants, $key: 200);
        font-size: 14px;
        font-weight: 700;
    }

    .semi-colon {
        width: 40px;
    }
}