<div class="main-container">
  <p class="toolbar">
    <mat-toolbar>
      <div
        [ngClass]="
          isExpanded
            ? 'text-end menu-icon-wrapper'
            : 'text-center menu-icon-wrapper'
        "
      >
        <button
          mat-icon-button
          class="menu-icon icon-btn"
          aria-label="menu icon"
          (click)="isExpanded = !isExpanded"
          *ngIf="!isExpanded"
        >
          <mat-icon aria-label="Menu" class="grey">menu</mat-icon>
        </button>

        <button
          mat-icon-button
          class="close-icon icon-btn"
          aria-label="close icon"
          (click)="isExpanded = !isExpanded"
          *ngIf="isExpanded"
        >
          <mat-icon aria-label="close" class="grey"
            >keyboard_arrow_left</mat-icon
          >
        </button>
      </div>

      <div
        class="row w-100"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span class="title-text">Hiring</span>

        <div class="search-bar">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            id="search-inp"
          >
            <!-- <mat-label>Search for ....</mat-label> -->
            <input matInput />
            <mat-icon matPrefix class="search-icon">search</mat-icon>
          </mat-form-field>
        </div>

        <div class="icons-list">
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with message icon"
          >
            <mat-icon svgIcon="message"></mat-icon>
          </button>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with notification icon"
          >
            <mat-icon svgIcon="notification"></mat-icon>
          </button>

          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with user icon"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon svgIcon="user-circle"></mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <div class="user-menu">
              <div class="row" fxLayout="row">
                <p class="label-text">Name</p>

                <p class="semi-colon">:</p>

                <p class="value-text">
                  {{
                    query.currentUserInfo?.firstName +
                      " " +
                      query.currentUserInfo?.lastName
                  }}
                </p>
              </div>
              <div class="row" fxLayout="row">
                <p class="label-text">Email</p>
                <p class="semi-colon">:</p>

                <p class="value-text">
                  {{ query.currentUserInfo?.email }}
                </p>
              </div>

              <div class="row" fxLayout="row">
                <p class="label-text">Role</p>
                <p class="semi-colon">:</p>
                <p class="value-text">
                  {{ query.currentUserInfo?.role }}
                </p>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </p>

  <mat-drawer-container class="sidenav-container mat-typography" autosize>
    <mat-drawer
      #drawer
      mode="side"
      disableClose="true"
      opened="true"
      [ngClass]="isExpanded ? 'full-width-sidenav' : 'collapsed-sidenav'"
    >
      <mat-nav-list>
        <ng-container *ngFor="let item of navLinks">
          <mat-list-item
            [routerLink]="item.route"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: false }"
            #rla="routerLinkActive"
            [ngClass]="
              item.disabled
                ? 'disabled-item'
                : rla.isActive
                ? 'active-link'
                : ''
            "
          >
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button>
                <mat-icon
                  [svgIcon]="rla.isActive ? item.activeIcon : item.iconName"
                  class="nav-icon"
                ></mat-icon>
              </button>
              <p
                mat-line
                *ngIf="isExpanded"
                [ngClass]="
                  rla.isActive
                    ? 'active-nav-item-title m-0'
                    : 'nav-item-title m-0'
                "
              >
                {{ item.displayName }}
              </p>
            </div>
          </mat-list-item>
        </ng-container>

        <mat-list-item class="logout-nav-item" (click)="logout()">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button>
              <mat-icon svgIcon="logout" class="nav-icon"></mat-icon>
            </button>
            <p mat-line *ngIf="isExpanded" class="nav-item-title m-0">Logout</p>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
