@import "../colors";

@mixin mat-chip-scss {
  .mat-mdc-chip-option {
    border: 1px solid #D0D5DD !important;
    background-color: #fff !important;
    border-radius: 6px !important;
    color: #667185;
    font-size: 13px !important;
  }

  .mat-mdc-chip-selected {
    border: 1px solid #CC400C !important;
    background-color: #FBF1F1 !important;
    border-radius: 6px !important;
    color: #475367 !important;
    font-size: 13px;
  }

  .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
  .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
    /* --mdc-chip-disabled-label-text-color: white; */
    --mdc-chip-elevated-container-color: #3f51b5;
    --mdc-chip-elevated-disabled-container-color: #3f51b5;
    --mdc-chip-focus-state-layer-color: black;
    --mdc-chip-focus-state-layer-opacity: 0.12;
    --mdc-chip-label-text-color: #475367 !important;
    --mdc-chip-with-icon-icon-color: #475367 !important;
    --mdc-chip-with-icon-disabled-icon-color: #475367 !important;
    --mdc-chip-with-icon-selected-icon-color: #475367 !important;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #475367 !important;
    --mdc-chip-with-trailing-icon-trailing-icon-color: #475367 !important;
  }
}