@import "../colors";

@mixin mat-card-scss {
  #emp-card {
    .mdc-card__actions {
      justify-content: center !important;
    }

    .mat-mdc-card-header {
      justify-content: end !important;
      margin: 0px !important;
      padding: 0px !important;
    }
  }
}