@import "../colors";

@mixin mat-tab-scss {
  #custom-tabs {
    .mat-mdc-tab {
      flex-grow: 0 !important;
      min-width: 78px !important;
      height: 40px !important;

      .mdc-tab__text-label {
        color: map-get($map: $black-color-variants, $key: 700);
        font-size: 14px;
        font-weight: 500;
      }
    }

    .mdc-tab--active {
      .mdc-tab__text-label {
        color: map-get($map: $black-color-variants, $key: 300) !important;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .mat-mdc-tab-body-content {
      padding-top: 18px !important;
    }
  }
}