@import "../colors";

@mixin mat-table-scss {
    #users-list {
        .mat-mdc-header-cell {
            font-size: 13px;
            color: map-get($map: $black-color-variants, $key: 200);
            background: #F2F3F4;
            font-weight: 400;
        }

        .mat-mdc-cell {
            color: map-get($map: $black-color-variants, $key: 200);
            font-size: 15px;
            font-weight: 500;
        }
    }


}