@import "../../../../../styles/colors";

.emp-img {
    >mat-icon {
        width: 80px;
        height: 80px;
    }
}

.mt-54 {
    margin: 54px 0 !important;
}

.mt-24 {
    margin-top: 24px;
}

label {
    padding-bottom: 4px;
    font-weight: 600;
    font-size: 14px;
}

.btn {
    min-width: 140px;
}


.btn-wrapper {
    margin-top: 32px;
}

.list-item {
    border: 1px solid #718096;
    border-radius: 8px 8px 0px 0px;

    .flex-item {
        flex: 1;
    }
}

.add-btn-wrapper {
    border: 1px solid #718096;
    border-radius: 0px 0px 8px 8px;

    >.white-btn {
        background: transparent;
        box-shadow: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
        color: blue;
    }
}

.btn-wrapper {
    >.btn {
        width: 100px;
    }
}

.error {
    font-size: 13px !important;
}