<div class="main-container">
  <h1 mat-dialog-title class="f-20 fw-600 m-0">New Employee Form</h1>
  <div mat-dialog-content>
    <div [formGroup]="newUserForm" fxLayout="column" fxLayoutGap="32px">
      <div class="first-row" fxLayout="row" fxLayoutGap="18px">
        <div class="input-field" fxLayout="column">
          <label for="username">First Name</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Janesmith"
              formControlName="firstName"
            />
          </mat-form-field>
          <mat-error *ngIf="f['firstName']?.touched && f['firstName']?.invalid">
            <div class="error" *ngIf="checkFormError('firstName', 'required')">
              First Name is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">Last Name</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Janesmith"
              formControlName="lastName"
            />
          </mat-form-field>
          <mat-error *ngIf="f['lastName']?.touched && f['lastName']?.invalid">
            <div class="error" *ngIf="checkFormError('lastName', 'required')">
              Last Name is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="email">Email</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Janesmith@gmail.com"
              formControlName="email"
              type="email"
            />
          </mat-form-field>
          <mat-error *ngIf="f['email']?.touched && f['email']?.invalid">
            <div class="error" *ngIf="checkFormError('email', 'required')">
              Email is required
            </div>
            <div class="error" *ngIf="checkFormError('email', 'email')">
              Invalid email
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">Experience (In years)</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Ex: 4 Years"
              formControlName="experience"
              type="number"
            />
            <!-- <p matSuffix>Years</p> -->
          </mat-form-field>
          <mat-error
            *ngIf="f['experience']?.touched && f['experience']?.invalid"
          >
            <div class="error" *ngIf="checkFormError('experience', 'required')">
              Experience is required
            </div>
          </mat-error>
        </div>
      </div>

      <div class="second-row" fxLayout="row" fxLayoutGap="18px">
        <div class="input-field" fxLayout="column">
          <label for="username">Designation</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Ex: Software Engineer...."
              formControlName="designation"
            />
          </mat-form-field>
          <mat-error
            *ngIf="f['designation']?.touched && f['designation']?.invalid"
          >
            <div
              class="error"
              *ngIf="checkFormError('designation', 'required')"
            >
              Designation is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">Visa status</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <mat-select formControlName="visaStatus">
              <mat-option *ngFor="let e of visaOptions" [value]="e.value">
                {{ e.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="f['visaStatus']?.touched && f['visaStatus']?.invalid"
          >
            <div class="error" *ngIf="checkFormError('visaStatus', 'required')">
              Visa status is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">Address</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Address..."
              formControlName="address"
            />
          </mat-form-field>
          <mat-error *ngIf="f['address']?.touched && f['address']?.invalid">
            <div class="error" *ngIf="checkFormError('address', 'required')">
              Address is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">City</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input matInput placeholder="City..." formControlName="city" />
          </mat-form-field>
          <mat-error *ngIf="f['city']?.touched && f['city']?.invalid">
            <div class="error" *ngIf="checkFormError('city', 'required')">
              City is required
            </div>
          </mat-error>
        </div>
      </div>

      <div class="third-row" fxLayout="row" fxLayoutGap="18px">
        <div class="input-field" fxLayout="column">
          <label for="username">State</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input matInput placeholder="State...." formControlName="state" />
          </mat-form-field>
          <mat-error *ngIf="f['state']?.touched && f['state']?.invalid">
            <div class="error" *ngIf="checkFormError('state', 'required')">
              State is required
            </div>
          </mat-error>
        </div>

        <div class="input-field" fxLayout="column">
          <label for="username">Add skills</label>

          <mat-form-field
            [ngClass]="
              selectedOptions.length
                ? 'skills-input-field'
                : 'custom-input-field'
            "
            appearance="outline"
          >
            <mat-chip-grid
              #myChipGrid
              [formControl]="myControl"
              aria-label="enter sandwich fillings"
            >
              <ng-container *ngFor="let filling of selectedOptions">
                <mat-chip-row (removed)="remove(filling)">
                  {{ filling }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </ng-container>
              <input
                #peopleInput
                [matChipInputFor]="myChipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                [formControl]="myControl"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
              />
            </mat-chip-grid>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <ng-container *ngFor="let people of filteredSkillsList | async">
                <mat-option [value]="people" class="f-14 fw-600">
                  {{ people }}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      class="btn-wrapper"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="end center"
    >
      <button
        mat-raised-button
        color="secondary"
        class="cancel-btn btn"
        (click)="close()"
      >
        Cancel
      </button>

      <button
        mat-raised-button
        color="primary"
        class="btn custom-btn"
        (click)="onSubmit()"
        [disabled]="newUserForm.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>
