<div class="main-container">
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="fw-700 f-20">New Employee</p>
    <div
      class="btns-wrapper text-end"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="20px"
    >
      <button
        mat-raised-button
        class="cancel-btn btn"
        color="secondary"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        class="btn custom-btn"
        [disabled]="newUserForm?.invalid"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>

  <mat-card class="mt-24">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <div class="emp-img">
        <mat-icon svgIcon="user-avator"></mat-icon>
      </div>
    </mat-card-header>

    <mat-card-content
      [formGroup]="newUserForm"
      fxLayout="column"
      fxLayoutGap="38px"
      class="mt-54"
    >
      <div
        class="row"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="w-100"
      >
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">First Name</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input matInput placeholder="Jane" formControlName="firstName" />
          </mat-form-field>
          <mat-error *ngIf="f['firstName']?.touched && f['firstName']?.invalid">
            <div class="error" *ngIf="checkFormError('firstName', 'required')">
              First Name is required
            </div>
          </mat-error>
        </div>

        <!-- last name  -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Last Name</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input matInput placeholder="Smith" formControlName="lastName" />
          </mat-form-field>
          <mat-error *ngIf="f['lastName']?.touched && f['lastName']?.invalid">
            <div class="error" *ngIf="checkFormError('lastName', 'required')">
              Last Name is required
            </div>
          </mat-error>
        </div>

        <!-- email  -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="email">Email</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Janesmith@gmail.com"
              formControlName="email"
              type="email"
            />
          </mat-form-field>
          <mat-error *ngIf="f['email']?.touched && f['email']?.invalid">
            <div class="error" *ngIf="checkFormError('email', 'required')">
              Email is required
            </div>
            <div class="error" *ngIf="checkFormError('email', 'email')">
              Invalid email
            </div>
          </mat-error>
        </div>

        <!-- experience  -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Experience (In years)</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Ex: 4 Years"
              formControlName="experience"
              type="number"
            />
            <!-- <p matSuffix>Years</p> -->
          </mat-form-field>
          <mat-error
            *ngIf="f['experience']?.touched && f['experience']?.invalid"
          >
            <div class="error" *ngIf="checkFormError('experience', 'required')">
              Experience is required
            </div>
          </mat-error>
        </div>
      </div>

      <!-- second row  -->
      <div
        class="row"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="w-100"
      >
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Designation</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Ex: Software Engineer...."
              formControlName="designation"
            />
          </mat-form-field>
          <mat-error
            *ngIf="f['designation']?.touched && f['designation']?.invalid"
          >
            <div
              class="error"
              *ngIf="checkFormError('designation', 'required')"
            >
              Designation is required
            </div>
          </mat-error>
        </div>

        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Visa status</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <mat-select formControlName="visaStatus">
              <mat-option *ngFor="let e of visaOptions" [value]="e.value">
                {{ e.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="f['visaStatus']?.touched && f['visaStatus']?.invalid"
          >
            <div class="error" *ngIf="checkFormError('visaStatus', 'required')">
              Visa status is required
            </div>
          </mat-error>
        </div>

        <!-- country  -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Country</label>
          <mat-form-field class="example-full-width w-100" appearance="outline">
            <input
              type="text"
              placeholder="Country"
              aria-label="Number"
              matInput
              formControlName="country"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onCountrySelection($event)"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option?.name"
              >
                {{ option?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            *ngIf="
              newUserForm.controls['country']?.touched &&
              newUserForm.controls['country']?.invalid
            "
          >
            <div class="error" *ngIf="checkFormError('country', 'required')">
              Country is required
            </div>
          </mat-error>
        </div>

        <!-- state -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">State</label>
          <mat-form-field class="example-full-width w-100" appearance="outline">
            <input
              type="text"
              placeholder="State"
              matInput
              [matAutocomplete]="auto2"
              formControlName="state"
            />
            <mat-autocomplete
              #auto2="matAutocomplete"
              (optionSelected)="onStateSelection($event)"
            >
              <mat-option
                *ngFor="let x of filteredStatesOptions | async"
                [value]="x?.name"
              >
                {{ x?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            *ngIf="
              newUserForm.controls['state']?.touched &&
              newUserForm.controls['state']?.invalid
            "
          >
            <div class="error" *ngIf="checkFormError('state', 'required')">
              State is required
            </div>
          </mat-error>
        </div>
      </div>

      <!-- third row -->
      <div
        class="row"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="w-100"
      >
        <!-- city -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">City</label>
          <mat-form-field class="example-full-width w-100" appearance="outline">
            <input
              type="text"
              placeholder="City"
              matInput
              [matAutocomplete]="auto3"
              formControlName="city"
            />
            <mat-autocomplete #auto3="matAutocomplete">
              <mat-option
                *ngFor="let x of filteredCitiesOptions | async"
                [value]="x?.name"
              >
                {{ x?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            *ngIf="
              newUserForm.controls['city']?.touched &&
              newUserForm.controls['city']?.invalid
            "
          >
            <div class="error" *ngIf="checkFormError('city', 'required')">
              City is required
            </div>
          </mat-error>
        </div>

        <!-- skills  -->
        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Add skills</label>

          <mat-form-field
            [ngClass]="
              selectedOptions.length
                ? 'skills-input-field'
                : 'custom-input-field'
            "
            appearance="outline"
          >
            <mat-chip-grid
              #myChipGrid
              [formControl]="myControl"
              aria-label="enter sandwich fillings"
            >
              <ng-container *ngFor="let filling of selectedOptions">
                <mat-chip-row (removed)="remove(filling)">
                  {{ filling }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </ng-container>
              <input
                #peopleInput
                [matChipInputFor]="myChipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                [formControl]="myControl"
                [matAutocomplete]="auto4"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
              />
            </mat-chip-grid>

            <mat-autocomplete
              #auto4="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <ng-container *ngFor="let people of filteredSkillsList | async">
                <mat-option [value]="people" class="f-14 fw-600">
                  {{ people }}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Role</label>
          <mat-form-field
            class="example-full-width custom-input-field"
            appearance="outline"
          >
            <input
              matInput
              placeholder="Ex: Software Engineer...."
              formControlName="role"
            />
          </mat-form-field>
        </div>

        <div
          class="input-field"
          fxLayout="column"
          fxFlex="20"
          class="flex-item"
        >
          <label for="username">Status</label>
          <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
