@import '../../../../../styles/colors';

.main-container {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    padding: 18px 24px;
    background-color: map-get($map: $blue-color-variants, $key: 700);
}