<div class="main-container">
  <h1 mat-dialog-title class="f-20 fw-600 m-0">New User</h1>
  <div mat-dialog-content>
    <div [formGroup]="newUserForm" fxLayout="column" fxLayoutGap="18px">
      <div class="input-field" fxLayout="column">
        <label for="username">Username</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Janesmith" formControlName="username" />
        </mat-form-field>
        <mat-error *ngIf="f['username']?.touched && f['username']?.invalid">
          <div class="error" *ngIf="f['username']?.errors">
            Username is required
          </div>
        </mat-error>
      </div>

      <div class="input-field" fxLayout="column">
        <label for="email">Email</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            placeholder="Janesmith@gmail.com"
            formControlName="email"
          />
        </mat-form-field>
        <mat-error *ngIf="f['email']?.touched && f['email']?.invalid">
          <div class="error" *ngIf="f['email']?.errors">Email is required</div>
        </mat-error>
      </div>

      <div class="input-field" fxLayout="column">
        <label for="username">User Permissions</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-select
            placeholder="select user permissions"
            formControlName="permissions"
          >
            <mat-option *ngFor="let e of permissionsList" [value]="e.value">
              {{ e.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
          *ngIf="f['permissions']?.touched && f['permissions']?.invalid"
        >
          <div class="error" *ngIf="f['permissions']?.errors">
            Please select the user permissions
          </div>
        </mat-error>
      </div>

      <div class="input-field" fxLayout="column">
        <label for="username">Status</label>
        <mat-slide-toggle formControlName="isActive">{{
          f["isActive"]?.value ? "Active" : "Inactive"
        }}</mat-slide-toggle>
      </div>

      <div class="btn-wrapper" fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="secondary" class="w-50" (click)="close()">Cancel</button>

        <button
          mat-raised-button
          color="primary"
          class="w-50 custom-btn"
          (click)="onSubmit()"
          [disabled]="newUserForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
