<mat-form-field class="example-chip-list">
  <mat-chip-grid
    #myChipGrid
    [formControl]="myCtrl"
    aria-label="enter sandwich fillings"
  >
    <ng-container *ngFor="let filling of selectedOptions">
      <mat-chip-row (removed)="remove(filling)">
        {{ filling }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </ng-container>
    <input
      #peopleInput
      [matChipInputFor]="myChipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      [formControl]="myCtrl"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
    />
  </mat-chip-grid>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <ng-container *ngFor="let people of filteredPeopleList | async">
      <mat-option [value]="people" class="f-14 fw-600">
        {{ people }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
