@import "../../../../../styles/colors";

.main-container {
    padding-top: 32px;

    .page-header {
        h2 {
            margin: 0 0 6px !important;
        }
    }

    .grid-section {
        margin-top: 32px;

        .grid {
            margin-top: 24px;

            .custom-chip {
                height: 30px;
                display: flex;
                border-radius: 8px;
                width: 90px;
                text-align: center;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
            }

            .admin-chip {
                background: #E6E6FA;
            }

            .creator-chip {
                background: #FFF8DC;
            }

            .checker-chip {
                background: #B0E2FF;
            }

            .user-chip {
                background: #8EE5EE;
            }

            .active-chip {
                color: map-get($map: $green-color-variants, $key: 200);
            }

            .active-chip::before {
                content: "✔️";
            }

            .inactive-chip {
                color: map-get($map: $red-color-variants, $key: 400);
            }

            .inactive-chip::before {
                content: "❌";
            }
        }
    }
}